us-title {
  padding: 25px 30px;
  margin: 10px 0;
  color: $whiteC;
  background-color: $tertiaryColor;
  text-align: center;
}

.us-info {
  img {
    width: 30%;
    padding: 30px 10px;
    margin-left: 30px;
  }
  p {
    background-color: $whiteC;
    padding: 25px 30px;
    margin: 10px 0;
  }
}

.bosses {
  img {
    width: 30%;
    padding: 30px 10px;
    margin-left: 30px;
  }
  p {
    background-color: $whiteC;
    padding: 25px 30px;
    margin: 10px 0;
  }
}
